* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 50px;
  border-bottom: 1px solid black;
}

ul li {
  display: block;
  padding: 2px 20px;
}

nav ul {
  display: flex;
}

.nav1 ul,
.nav2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.btn {
  padding: 10px;
  color: white;
  border-radius: 5px;
  background-color: rgb(14, 14, 224);
}

.business-profile {
  font-size: 20px;
}

.signin {
  color: blue;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 100px;
}

.home .left-content span {
  font-size: 30px;
}

.right-content img {
  border-radius: 30px;
}

/* common */

.icon {
  cursor: pointer;
  padding: 12px;
}

.mb5 {
  margin-bottom: 25px;
  background-color: green;
}

.header-logo i {
  margin-right: 25px;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 5px 20px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.header-center .microphone {
  border-radius: 50%;
  background-color: rgb(245, 239, 239);
}

.header-center {
  display: flex;
  align-items: center;
}

.header-center input {
  padding: 10px;
  border-radius: 30px;
  width: 500px;
  border: none;
  font-size: 16px;
}

.shopping-search-input {
  display: flex;
  border: 1px solid black;
  border-radius: 30px;
  margin: 2px;
}

.header-center .microphone {
  margin-left: 20px;
}

.header-center .search-icon {
  background-color: rgb(245, 239, 239);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 0px 10px;
  border-left: 1px solid black;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right .icon {
  margin: 0px 10px;
}
section {
  padding: 30px 100px;
}

.heading {
  margin-bottom: 20px;
}
.home .left-content {
  font-size: 30px;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 80px;
  /* flex-grow: 1; */
}

.product {
  max-width: 200px;
  /* border: 1px solid black; */
}

.product img {
  width: 100%;
}

footer {
  padding: 20px;
  background-color: rgb(252, 249, 249);
}
.footer-two {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  border-top: 1px solid #cfc8c8;
}
.footer-one {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-one div > ul li:first-child {
  font-weight: bold;
}
